<section class="bg-gray-10 dark:bg-gray-900">
    <div class=" grid pt-10 pb-8 px-4 max-w-screen-xl mx-auto lg:gap-8 lg:pt-28 lg:grid-cols-12 ">
      <div class="mr-auto place-self-auto lg:col-span-7">
        <h1 class=" text-white max-w-2xl mb-8 mt-20 font-bold text-4xl leading-none">
          Le monde n'est rien sans la tech <br />
          #Technologie
        </h1>
        <p class=" text-white max-w-2xl pb-6 font-light text-gray-500">
          Vous aimez cette categorie , faite le nous savoir en cliquant sur le bouton du bas pour la suite 
        </p>
  
        <div
          class="space-y-4 flex flex-col lg:flex-row lg:space-y-0 lg:space-x-4"
        >
          <a
            href="#"
            class="w-full font-medium px-4 py-3 rounded-sm text-sm  border border-gray-900 lg:rounded-lg sm:w-auto bg-gray-900 text-white"
            > <i class="fa-solid fa-heart"></i> Like this one</a
          >
          <a
            href="#"
            class="w-full bg-primary-100 font-medium px-4 py-3 rounded-sm text-sm text-white border border-white lg:rounded-lg sm:w-auto hover:bg-gray-900"
            >View on Github</a
          >
        </div>
      </div>

      <div class="hidden pt-10 lg:mt-0 lg:col-span-5 min-h-max  lg:flex py-10">
        <!-- <img src="assets/images/blogHero.png" class="w-full h-full mx-auto place-self-auto object-cover " alt="" /> -->
  
  
  
      </div>
    </div>
  </section>
  
  
<div class="container max-w-screen-xl px-4 pt-8  mx-auto">

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 mt-4 xl:grid-cols-3 ">

        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    
    </div>

</div>

