<section class="bg-white dark:bg-gray-900" >

    <div class="pt-20 mx-auto  pb-8 lg:pb-16  p-4 " >

        <h1 class="leading-none font-semibold text-2xl mb-3 " >Nous laisser un commentaire</h1>

        <form action="" class="w-full" >

            <div class="mb-2 grid grid-cols-1 ">
                <label for="comment" class="text-lg text-gray-600 ">nom</label>
                
                <input type="text " class=" h-10 w-full p-2 mt-2 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1" >
                
                <label for="comment" class="text-lg text-gray-600 mb-4 mt-8 ">Commentaire</label>
                <textarea class="w-full h-20 p-2 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1"
                  name="comment" placeholder=""></textarea>
              </div>
              <button class="px-3 py-2 text-sm text-white bg-primary-100 rounded">Publier</button>

        </form>

    </div>


</section>