/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
:root{
    --primary-color:red;
    --secondary-color:blue;
    --body-text-color:#596392;
    --navbar-footer-color:#596392;
    
}



body{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Signika', sans-serif; */
    /* font-size:12px; */
    color:var(--body-text-color)
}